@using Microsoft.AspNetCore.Identity
@using OurPlace.Data
@using System.Security.Claims
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{ 
    var user = UserManager.GetUserAsync(User).Result;
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown" style="margin-right: 15px;">
            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hi @user.UserName
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item text-dark" asp-controller="Home" asp-action="HomePage">Home</a>
                <a class="dropdown-item text-dark" asp-controller="User" asp-action="Profile" asp-route-userId="@user.Id">My Profile</a>
                <a id="not-@user.Id" class="dropdown-item text-dark" asp-controller="Notification" asp-action="Overview" asp-route-userId="@user.Id">Notifications</a>
                <a class="dropdown-item text-dark" asp-controller="User" asp-action="Groups" asp-route-userId="@user.Id">My groups</a>
                <form class="dropdown-item text-dark text-left" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("HomePage", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </div>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary" id="friendBtn" onclick="Toggle()">Friends</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>