@model OurPlace.Models.User.UserProfileModel
@{
    ViewData["Title"] = "MyProfile";
}
@section Styles {
    <link rel="stylesheet" href="~/css/Profile.css" />
    <link rel="stylesheet" href="~/css/Timeline.css" />
    <link rel="stylesheet" href="~/css/Comment.css" />
}

<div class="container">
    <partial name="./Partials/_coverImageForm" />

    <partial name="./Partials/_profileLayout" for="Photos" />

    <div class="timeLine">

        <div class="timeLineHeader">
            <h3>Timeline</h3>
        </div>

        @if (Model.Photos.UserId == User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value)
        {
            <div class="postFormContainer">
                <h5>Create new post</h5>
                <form asp-controller="Post" asp-action="Create" asp-route-page="TimeLine" method="post" enctype="multipart/form-data">
                    <input hidden name="userId" value="@User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value" />
                    <div>
                        <i class="fas fa-camera-retro postIcon" onclick="togglePostFileInput()"></i>
                    </div>
                    <input type="file" id="postFileInput" class="hide" name="image" />
                    <textarea class="form-control" placeholder="Write something..." name="message"></textarea>
                    <input type="submit" value="Post" class="btn btn-success" />
                </form>
            </div>
        }

        @*<partial name="./Partials/_printingPosts" for="Posts" />*@
        @foreach (var post in Model.Posts)
        {
            <div class="postContainer">
                <div class="postHeader">
                    <h5>@post.User.FirstName @post.User.LastName</h5>
                </div>

                <div class="postContent">
                    <div class="postMessage">
                        <p>@post.Message</p>
                    </div>

                    @if (post.Image != null)
                    {
                        <div>
                            <img class="postImage" onclick="openPhoto()" src="data:image/jpeg;base64,@Convert.ToBase64String(post.Image)" />
                        </div>
                    }

                    <div class="postInfo">
                        <div class="postLikes">
                            @if (post.Likes.Select(x => x.UserId).ToList().Contains(User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value))
                            {
                                <a id="@post.Id" class="far fa-heart" style="color: red" onclick="like(`@post.Id`, `@post.UserId`, `@User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value`)"></a>
                            }
                            else
                            {
                                <a id="@post.Id" class="far fa-heart" onclick="like(`@post.Id`, `@post.UserId`, `@User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value`)"></a>
                            }
                            <div id="count-@post.Id">@post.Likes.Count likes</div>
                        </div>
                        <div class="postDate">@post.DatePosted.ToString("MMMM dd yyyy HH:mm")</div>
                    </div>
                </div>

                <div class="postComments">
                    <p>Comments</p>

                    <div id="commentContainer-@post.Id">
                        @foreach (var comment in post.Comments)
                        {
                            <div class="commentContainer">
                                <span>@comment.SentBy</span>
                                <p>@comment.Message</p>
                                <span class="postDate">@comment.DateSent.ToString("MMMM dd yyyy HH:mm")</span>
                            </div>
                        }
                    </div>

                    <form method="post" onsubmit="comment(event, `@post.Id`, `@post.UserId`, `@User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value`)">
                        <input class="form-control" placeholder="Leave a comment..." id="commentInput-@post.Id" />
                        <input type="submit" class="btn btn-success" value="Comment" />
                    </form>
                </div>
            </div>
        }
    </div>

</div>

@section Scripts {
    <script src="~/js/Profile.js"></script>
    <script src="~/js/Post.js"></script>
}
