@model OurPlace.Models.User.UserPhotosModel
@{
    ViewData["Title"] = "UserPhotos";
}
@section Styles {
    <link rel="stylesheet" href="~/css/PhotoGallery.css" />
    <link rel="stylesheet" href="~/css/UserPhotos.css" />
    <link rel="stylesheet" href="~/css/Profile.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link rel="stylesheet" href="~/lib/slick-1.8.1/slick/slick.css" />
}

<div class="hide" id="carousel">
    <div class="single-item carouselContainer">
        @foreach (var image in Model.UserPhotos)
        {
            <div class="imgContainer">
                <img src="data:image/jpeg;base64,@Convert.ToBase64String(image.Image)" />
                <div class="commentLikeContainer" id="commentScroll-@image.Id">
                    <div class="likeContainer">
                        @if (image.Likes.Select(x => x.UserId).ToList().Contains(Model.VisitorId))
                        {
                            <i style="color: red" class="far fa-heart likeIcon" id="imageLike-@image.Id" onclick="like(`@image.Id`, `@image.UserId`, `@Model.VisitorId`, `image`)"></i>
                        }
                        else
                        {
                            <i class="far fa-heart likeIcon" id="imageLike-@image.Id" onclick="like(`@image.Id`, `@image.UserId`, `@Model.VisitorId`, `image`)"></i>
                        }

                        <div class="likeCount" id="imageCount-@image.Id">@image.Likes.Count likes</div>
                    </div>
                    <div class="commentContainer" id="commentContainer-@image.Id">
                        <div>@image.Comments.Count comments</div>
                        @foreach (var comment in image.Comments)
                        {
                            <div class="comment">
                                <div>@comment.CommentBy</div>
                                <div class="commentText">@comment.Message</div>
                                <div class="commentDate text-muted">@comment.DateCreated.ToString("MMMM dd yyyy HH:mm")</div>
                            </div>
                        }
                    </div>
                    <form class="commentForm" onsubmit="imageComment(event, `@image.Id`, `@image.UserId`, `@Model.VisitorId`, `@Model.VisitorUsername`)">
                        <input type="text" placeholder="Write something..." class="form-control" id="imageCommentInput-@image.Id"/>
                    </form>
                </div>
            </div>
        }
    </div>
    <i class="far fa-window-close closeCarousel" id="closeCarousel" onclick="hideCarousel()"></i>
</div>

<div class="container">
    <partial name="./Partials/_coverImageForm" />
    <partial name="./Partials/_addImageForm" />
    <partial name="./Partials/_imageSettings" />

    <partial name="./Partials/_profileLayout" for="LayoutPhotos" />
    @if ((Model.FriendIds.Contains(Model.VisitorId) ||
     Model.ProfileOwnerId == Model.VisitorId))
    { 
        <div class="photoContainer">
            <div class="headerContainer">
                <h3>My Gallery</h3>
                @if (Model.LayoutPhotos.UserId == Model.VisitorId)
                {
                    <button class="btn btn-warning btn-lg" onclick="toggleUploadForm('imageForm')">Add Photo</button>
                }
            </div>

            <div class="gallery" id="gallery">
                @for (int i = 0; i < Model.UserPhotos.Count; i++)
                {
                    <div class="gallery-item">
                        @if (Model.LayoutPhotos.UserId == Model.VisitorId)
                        {
                            <div class="imageSettings" onclick="toggleImageSetting(event)" id="@Model.UserPhotos[i].Id">
                                <i class="fas fa-bars" id="@Model.UserPhotos[i].Id"></i>
                            </div>
                        }
                        <div class="content" id="likeCount-@Model.UserPhotos[i].Likes.Count"><img id="@Model.UserPhotos[i].Id" src="data:image/jpeg;base64,@Convert.ToBase64String(Model.UserPhotos[i].Image)" class="galleryImages" onclick="toggleCarousel(`@i`)"></div>
                    </div>
                }
            </div>
        </div>
    }
    </div>

@section Scripts {
    <script src="~/lib/slick-1.8.1/slick/slick.min.js"></script>
    <script src="~/js/Profile.js"></script>
    <script src="~/js/PhotoGallery.js"></script>
} 